
							@font-face {
								font-family: AireExterior;
								font-display: swap;
								src: url("../fonts/AireExterior.woff2") format("woff2"), url("../fonts/AireExterior.woff") format("woff");
								font-weight: 400;
								font-style: normal;

							}

							
							@font-face {
								font-family: Roboto;
								font-display: swap;
								src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
								font-weight: 300;
								font-style: normal;

							}

							
							@font-face {
								font-family: Pulsar;
								font-display: swap;
								src: url("../fonts/Pulsar-Original.woff2") format("woff2"), url("../fonts/Pulsar-Original.woff") format("woff");
								font-weight: 400;
								font-style: normal;

							}

							