.navbar {
  top: 0;
  background-color: $darkBlue;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  height: 125px;
  &__container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    font-family: $font;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    margin-right: 45px;
  }
  &__link_active {
    border-bottom: 1px solid $azure;

    padding-bottom: 3px;
  }
}

.header {
  &__main {
    margin-top: 80px;
    
  }

  &__container {
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    width: 100%;

    aspect-ratio: 1.7 / 1;
    box-shadow: 0px 5px 29px #527d8b40;
    border-radius: 15px;
    border: 0.5px solid $blue;
  }
}

