.start {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
  }

  &__icon-block {
    text-align: center;
  }

  &__icon-block:not(:last-child) {
    margin-right: 70px;
    position: relative;
  }

  &__icon-block:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: $azure;
    top: 40px;
    right: -70px;
  }

  &__title {
    position: relative;
    color: #fff;
    font-family: $mainFont;
    font-size: 2.5rem;
  }

  &__title::before {
    content: "Швидкий старт";
    position: absolute;
   font-family: $font;
    font-size: 1rem;
    right: 0;
    top: -30px;
    color: $blue;
  }

  &__title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    left: 0;
    top: -20px;
    background-color: $blue;
  }

  &__start {
  }

  &__text {
    color: #fff;
    font-size: 1.25rem;
  }

  &__icon-block {
  }

  &__icon {
  }

  &__button {
    background-color: transparent;
    border: none;
    color: $azure;
    transition: 0.3s;
    cursor: pointer;
    border-bottom: 1px solid $azure;
  
  }
}
